@media (min-width: 300px) and (max-width: 599px){
    .movies { justify-content: center !important; }
}

.movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.movieItem {

}

.filmImage {
    width: 280px;
    height: 370px;
    border-radius: 8px;
    background: cadetblue;
}