@media (min-width: 300px) and (max-width: 599px){
    .wrapper { overflow-y: unset !important; }
}

.wrapper {
    grid-area: main;
    /*background: ghostwhite;*/
    overflow-y: scroll;
}

.wrapper div {

}

.channel {
    height: 162px;
    margin: 16px 20px;
    display: flex;
    background: #F2F2F2;
}

.channelLogo img {

}

.channelLogo {
    flex-basis: 30%;
    align-self: center;
    text-align: center;
}

.program {
    display: flex;
}

.time {
    margin-right: 10px;
}

.schedule {
    align-self: center;
}

.schedule h3 {
    margin-top: 0;
}

.activeProgram {
    color: #E5261E;
}