.testDiv {
  margin-left: 20px;
}

.App {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-rows: 60px 30px auto 60px;
  grid-template-areas: "header" "tags" "main" "footer";
  min-height: 100vh;
  background: cadetblue;
}

h2 {
  font-weight: 500;
  font-size: 24px;
}