.wrapper {
    grid-area: tags;
    /*background: burlywood;*/
    display: flex;
    justify-content: center;
}

.tab {
    margin: 0 10px;

    font-weight: 500;
    font-size: 28px;

    text-decoration: none;
}

.tab div {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.tab {
    color: black;
}

.tab.active {
    color: #E5261E;
}

.active div {
    border-bottom: solid red 1px;
}