@media (min-width: 300px) and (max-width: 599px){
    .genre { justify-content: center !important; }
}

.genre {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*.genreItem {
    width: 280px;
    height: 208px;
    border-radius: 8px;
    background: cadetblue;
    position: relative;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}*/

.genreItem {
    width: 280px;
    height: 208px;
    border-radius: 8px;
    background: cadetblue;
    position: relative;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin-bottom: 20px;
}

.genreItem::before {
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    content: "";

    /*border-radius: 8px;
    background: cadetblue;
    position: relative;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
    cursor: pointer;*/
}

.genreItem:hover::before {
    background-color: rgba(255, 255, 255, .5);
}

.genreItem img {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.genreItem div {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, 0);
    color: white;
    font-size: 20px;
}

.genreItem:nth-child(1) {
    background: linear-gradient(136.27deg, #F2C94C 8.44%, #F29A4A 91.36%);
}

.genreItem:nth-child(2) {
    background: linear-gradient(136.27deg, #F2994A 8.44%, #EB5757 91.36%);
}

.genreItem:nth-child(3) {
    background: linear-gradient(136.27deg, #56CCF2 8.44%, #2F80ED 91.36%);
}

.genreItem:nth-child(4) {
    background: linear-gradient(136.27deg, #828282 8.44%, #333333 91.36%);
}